
<div class="row"> 
	<div class='container'>
	<% @movies.each do |movie| %> 
		<div class="col-md-10 col-md-offset-1 b_right ">
		 <div class='col-md-3'> <img class="movie_poster" src="<%= movie.img_url %>" size="300px">
		 </div>
			<div class='col-md-6 col-md-offset-1 b_center'>
			<p>English Title: <%= movie.e_title %></p>
			<p>Japanese Title: <%= movie.j_title %></p>
			</div>
		<button>add to watchlist</button>	
		</div>
		
	</div>
<% end %>

</div>

<div class='b_center'>
	<%= link_to "New Review", '/reviews/new' %>
	
</div>	

			  
			