<div class='container'>
	<div class='col-md-6 col-md-offset-3 b_center'>
		<div class='col-md-3'> <img class="movie_poster" src="<%= @movie.img_url %>" size="300px">
		 </div>
		<div class='col-md-6 col-md-offset-3'>
			<p><strong>English Title:</strong> <%= @movie.e_title %></p>
			<p><strong>Japanese Title: </strong><%= @movie.e_title %></p>
		</div>

	</div>
	
</div>