<h1> Profile </h1>


	<div>
		<p> signed in as <%= @user.user_name %> </p>
		<p> welcome : <%= @user.full_name %> </p>
	</div>

<div class="row"> 
	<div class= "col-md-5 left"> 
		<p> recent comments go here</p>
	</div>

	<div class="col-md-5 col-md-offset-1 right "> 
		<p> watch list here </p>
	</div>


</div>