<h1> Profile </h1>

<div class="row"> 
	<div class='container'> 
		<div class='col-md-10 col-md-offset-1 b_center'>
			<div class="col-md-3 avatar_pic">
				<br>
				<p><img src="http://placehold.it/200x200"></p>
			</div>

			<div class='col-md-5 col-md-offset-1 center'> 
				<br>
				<p> <strong> User Name: </strong><%= @user.user_name %> </p>
				<p> <strong> welcome: </strong><%= @user.full_name %> </p>
				<p> <strong> created on: </strong><%= @user.created_at.strftime("%b. %d %Y") %> </p>
				<button>edit</button>
			</div>

			<div class='col-md-5 col-md-offset-1 center'>
				<p> <strong> About me: </strong><%= @user.user_name %> </p>

			</div>

		</div>
	</div>
</div>

<div class="row"> 
	<div class='container'> 
		<div class= "col-md-5 b_left"> 
			<p> recent comments go here</p>
		</div>

		<div class="col-md-5 col-md-offset-1 b_right "> 
			<p> watch list here </p>
		</div>
	</div>

</div>