<h1>splash page</h1>
<p>fun stuff</p>

<div class="row">
	<div class='container'> 
		<div class= "col-md-2 b_left"> 
			<p>random movie search</p>
		</div>
		<div class= "col-md-8 col-md-offset-1 b_center">
			<p>rendered search results</p>
		</div>
	</div>

</div>