<div class="col-md-8 col-md-offset-2 center">

	<div class='col-md-10 col-md-offset-1 center'>
      <form class="search_bar" action:'/search' method: "GET">
        <div class="form-group">
         <input type="text" class="form-control" placeholder="Search">
         <button class="btn btn-primary">clear</button>
         <button type="submit" class="btn btn-default pull-right">Submit</button>
         </div>
      </form>
	</div>

</div>


<div class="row">
	<div class='container'> 
		<div class= "col-md-2 b_left"> 
			<p>suggested movies</p>
		</div>
		<div class= "col-md-8 col-md-offset-1 b_center">
			<p>random movie search</p>
			



		</div>
	</div>

</div>