<h1>splash page</h1>
<p>fun stuff</p>

<div class="row">
	<div class= "col-md-3 left"> 
		<p>random movie search</p>
	</div>
	
	<div class= "col-md-7 center">
	<p>rendered search results</p>
	</div>

</div>