<div class="col-md-8 col-md-offset-2 ">

	<div class='col-md-10 col-md-offset-1'>
      <form class="search">
        <div class="form-group">
         <input type="text" class="form-control search_bar" placeholder="Search for a Movie">
         <button class="btn btn-warning pull-right" id="search_button">Submit</button>
         </div>
      </form>
	</div>

</div>


<div class="row">
	<div class='container'> 
		<div class= "col-md-2 b_left"> 
			<p>suggested movies</p>
		</div>
		<div id='420' class= "col-md-8 col-md-offset-1">
			<div class='panel panel-default'>
				<div class='panel-heading'>Rendered Search Results</div>
				<div class='panel-body'>
					<div id='rendered_search'>
						
					</div>
					
				</div>
				
			</div>
			
			



		</div>
	</div>

</div>